.main_header{
    display: flex;
    background-color: blue;
    color: white;
    border-radius: 0 0 30px 0;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
}
@media screen and (max-width: 600px){
    .main_header{
        flex-direction: column;
        padding: 5px;
    }
}
.contact{
    align-self: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.main_nav{
    align-self: center;
    margin: 1rem 0 1rem 0;
}
@media screen and (max-width: 500px){
    
    .main_name{
        margin: 10px;
    }
    .main_header h1{
        font-size: 25px;
    }
    .contact{
        flex-grow: 2;
    }
    .phone{
        font-size: 15px;
    }
    .main_nav{
        display: flex;
        margin: 5px;
    }

}
.phone{
    font-size: 1.5em;
}

.nav_link{
    margin: 10px;
    text-decoration: none;
    padding: 8px;
    color: white;
}
.nav_link:active{
    color: white;
}
.nav_link:visited{
    color: white;
}
.nav_link:hover{
    border-radius: 5px;
    background-color: crimson;
    color: white;
}
