.main_header{
    display: flex;
    border: 2px solid blue;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px){
    .main_header{
        flex-direction: column;
    }
}
.main_name{
    color: blue;
    padding: 1rem;
}
.contact{
    align-self: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40%;
}
.main_nav{
    align-self: center;
    margin-bottom: 1rem;
}
@media screen and (max-width: 500px){

    .main_name{
        margin: 1rem;
    }
    .contact{
        margin: 1rem;
    }
    .main_nav{
        display: flex;
    }

}
