.menu_one, .menu_two, .menu_three {
    Border: 2px outset blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.menu_two p{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}
.data_head_row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.data_row{
    display: flex;
}
.burger_data_field{
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 1;
    order: 1;
}
.price_data_field{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    flex: 1;
    order: 2;
}
