:Root{
    background-color: #c6c6c6;
}
/* Body */

.main-table{
    border: 2px solid blue;
    width: 100%;
    margin: 1rem 0 1rem 0;
    text-align: center;
}
@media screen and (max-width: 600px){
    .main-table{
        padding: 1rem;
    }
    .pizza-data-field{
        flex: 1;
    }
    .price-data-field{
        flex: 1;
        flex-direction: column;
    }
    .price-data-field div{
        margin: 5px 0 5px 0;
    }
}
.data-head-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.data-row{
    display: flex;
}

.pizza-data-field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
    flex: 2;
    order: 1;
}
.price-data-field{
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    order: 2;
}

/* toppings section */

@media screen and (max-width: 600px){
    .toppings-section tbody tr{
        display: flex;
        flex-direction: column-reverse;
    }
    .toppings-section .price-data-field{
        flex-direction: row;        
    }
}

a{
    margin: 10px;
    text-decoration: none;
    padding: 8px;
    color: black;
}
a:active{
    color: white;
}
a:visited{
    color: blue;
}
a:hover{
    border-radius: 5px;
    background-color: crimson;
    color: white;
}
