.main-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid blue;
    padding: 1rem;
    text-align: center;
}
@media screen and (max-width: 600px){
    .main-header{
        grid-template-columns: repeat(1, 1fr);
    }
}
.main-name{
    border: 2px solid blue;
    color: blue;
}
.contact{
    border: 2px solid blue;
    justify-content: center;
    padding: 2rem;
    margin: 1rem;
}
.main-nav a{
    margin: 1rem;
    width: 100%;

}

@media screen and (max-width: 500px){

    .main-name{
        margin: 1rem;
    }
    .contact{
        margin: 1rem;
    }
    .main-nav{
        display: flex;
    }

}

/* Body */

.main-table{
    border: 2px solid blue;
    width: 100%;
    margin: 1rem 0 1rem 0;
    text-align: center;
}
@media screen and (max-width: 600px){
    .main-table{
        padding: 1rem;
    }
    .pizza-data-field{
        flex: 1;
    }
    .price-data-field{
        flex: 1;
        flex-direction: column;
    }
}
.data-head-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.data-row{
    display: flex;
}

.pizza-data-field{
    padding: 1rem;
    flex: 2;
    order: 1;
}
.price-data-field{
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex: 2;
    order: 2;
}

/* footer */

.main-footer{
    border: 2px solid blue;
    text-align: center;
    padding: 1rem;
}
