.main-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 2px solid blue;
    padding: 1rem;
    text-align: center;
}
@media screen and (max-width: 480px){
    .main-header{
        grid-template-columns: repeat(1, 1fr);
    }
}
.main-name{
    border: 2px solid blue;
    color: blue;
}
.contact{
    border: 2px solid blue;
    justify-content: center;
}
.contact li{
    list-style-type: none;
    position: relative;
    left: -10px;
}

.main-nav a{
    margin: 1rem;
}

/* Body */

.main-table{
    border: 2px solid blue;
    width: 100%;
    margin: 1rem 0 1rem 0;
    text-align: center;
}
.data-head-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.data-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.pizza-data-field{
    padding: 2rem;
}
.price-data-field{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.main-footer{
    border: 2px solid blue;
    text-align: center;
    padding: 1rem;
}
