.main_footer{
    display: flex;
    justify-content: space-evenly;
    border-top: 3px solid blue;
    text-align: center;
    padding: 1rem;
}
.main_footer div{
    align-self: center;
    padding: 1rem;
}
.main_footer .footerinfo_two{
    display: flex;
    align-items: center;
}
.facebook_img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 600px){
    .main_footer{
        flex-direction: column;
    }
}
